@charset "UTF-8";

.first {
color: red;
text-decoration:underline;
text-align: center;
}

h1 {
	text-decoration:underline;
	text-align: center;
	color:blue;
}

table th {
	background-color: grey;
	text-decoration: underline;
	font-style:bold;
}
